*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Spartan", sans-serif;

}

/*css for h1*/
h1{
	font-size: 50px;
	line-height: 64px;
	color: #222;
}
/*css for h2*/
h2{
	font-size: 46px;
	line-height: 54px;
	color: #222;
}
/*css for h4*/
h4{
	font-size: 20px;
	color: #222;
}
/*css for p*/
p{
	font-size: 16px;
	color: #465b52;
	margin: 15px 0 20px 0;
}
/*css for section-p1*/
.section-p1{
	padding: 40px 80px;
}
/*css for section-m1*/
.section-m1{
	margin: 40px 0;
}
/*css for button.normal*/
button.normal{
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: black;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}
/*css for body*/
body{
	width:  100%;
}
/*css for logo in navbar*/
.logo{
	height: 30%;
	width: 30%;
}

/*Header Start */

#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #E3E6F3;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navbar li{
	list-style: none;
	padding: 0 20px;
}

#navbar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	align-items: right;
	color: darkcyan;
	transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
	color: black;

}

#navbar li a.active::after{
	content: "";
	width: 30%;
	height: 2px;
	background: black;
	position: absolute;
	bottom: -4px;
	left: 20px;
}
#mobile{
	display: none;
	align-items: center;

}
#close{
	display: none;
}

/* css for homepage */
#Homepage{
	background-image: url("img/123.jpg");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#Homepage h4{
	padding-bottom: 15px;
	color: grey;
	text-decoration: none;
}

#Homepage h2{
	color: darkcyan;
	text-decoration: none;
}

#Homepage p{
	color: grey;
}

#Homepage button{
	background-image: url("img/button.png");
	background-color:  black;
	color: orange;
	border: 0;
}

#Homepage button:hover{
	background-color: whitesmoke;
}
#features{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#features .fe-box {
	width: 180px;
	text-align: center;
	padding: 25px 25px;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
	border: 1px solid #cce7d0;
	border-radius: 4px;
	margin: 15px 0;
}

#features .fe-box:hover{
	box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#features .fe-box img{
	width: 80%;
	margin-bottom: 10px;
}

#features .fe-box h6{
	display: inline-block;
	padding: 9px 8px 6px 8px;
	line-height: 1;
	border-radius: 4px;
	color: black;
	background-color: darkcyan;
	align-items: right;

}

#features .fe-box:nth-child(2) h6{
    background-color: rosybrown;    
}

#features .fe-box:nth-child(3) h6{
    background-color: olive;    
}
 
#features .fe-box:nth-child(4) h6{
    background-color: lightskyblue;    
}

#features .fe-box:nth-child(5) h6{
    background-color: palegoldenrod;    
}

#product{
	text-align: center;

}

#product .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;

}

#product .pro{
	width: 30%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	margin: 15px 0;
	transition: 0.3s ease;
	position: relative;

}

#product .pro:hover{
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product .pro img{
	width: 100%;
	border-radius: 20px;
}

#product .pro .des span{
	color: #606063;
	font-size: 12px;
}

#product .pro .des h5 {
	padding-top: 7px;
	color: #lalala;
	font-size: 14px;
}

#product .pro .des h4{
	text-decoration: none;
	color: lightskyblue;
	font-size: 15px;
	padding-top: 7px;
	font-weight: 700;


}

#banner{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image: url(img/a.jpg);
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;
}

#banner h4{
	color: white;
	font-size: 16px;
}

#banner h2{
	color: red;
	font-size: 30px;
}

#banner button:hover{
	background-color: darkcyan;

}

/*css for footer*/

footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	background-color: #E3E6F3;
}

footer .col{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
}

footer .col1{
	padding: 160px 70px;
}
footer .logo{
	height: 10%;
	width: 10%;
	margin-bottom: 10px;
}

footer .h4{
	font-size: 12px;
	padding-bottom: 10px;
	justify-content:  right;
}


footer a{
	font-size: 10px;
	text-decoration: none;
	color: black;
	margin-bottom: 10px;
}
footer .quicklink{
	padding: 160px 70px;
	text-decoration: none;
}

footer .follow{
	font-size: 25px;
	padding: 160px 10px;

}

footer .copyright {
	justify-content: center;
}

@media (max-width: 799px){
	.section-p1{
		padding: 40px 40px;
	}
	#navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -300px;
		height: 100vh;
		width: 300px;
		background-color: white;
		box-shadow: 0 40px 60px black(0,0,0,0.1);
		padding: 80px 0 0 10px;
		transition: 0.5s;
	}
	#navbar.active{
		right: 0px;
	}
	#navbar li{
		margin-bottom: 25px;
	}
	#mobile{
		display: flex;
		align-items: center;
	
	}
	#mobile i{
		color: black;
		font-size: 24px;
		padding-left: 20px;
	}
	#close{
		display: initial;
		position: absolute;
		top: 30px;
		left: 30px;
		color: black;
		font-size: 24px;
	}

	#Homepage {
		height: 70vh;
		padding: 0 80px;
		background-position: top 30% right 30%;
		
	}
	#features {
		justify-content: center;
	}
	#features .fe-box {
		margin: 15px 15px;
	}
	#product .pro-container {
		justify-content: center;
		
	}
	#product .pro{
		margin: 15px;
	}
	#banner {
	height: 20vh;
	
}
}

@media (max-width: 477px){
	.section-p1{
		padding: 20px;
	}
	#header{
		padding: 10px 30px;
	}
	h1{
		font-size: 38px;
	}
	h2{
		font-size: 32px;

	}
	#Homepage {
		padding: 0 20px;
		background-position: 55%;
		
	}
	#features {
		justify-content: space-between;
	}
	#features .fe-box {
		width: 155px;
		margin: 0 0 15px 0;
	}
	#product .pro{
		width: 100%;
	}
	#banner{
		height: 30vh;
	}
	#Product1 .pro-container {
		justify-content:center;
		
	}
	#Product1 .pro{
		margin: 15px;
	}
	#Product2 .pro-container {
		justify-content:center;
		
	}
	#Product2 .pro{
		margin: 15px;
	}
	element.style {
		text-align: center;
		font-size: 20px;
	}
	h4 {
		font-size: 10px;
		color: #222;
	}
	.slider {
		width: 80%;
		height: 180px;
	}
	.wrapper {
		justify-content: space-around;
	}

}